$title-height: 18px;

#page-index {
  width: 100%;

  .posts {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    :hover {
      background-color: none;
    }
    a.post {
      display: flex;
      flex-direction: column;
      flex-basis: 30%;
      background-color: #79589F;
      padding: $title-height $title-height 0px $title-height;
      justify-content: center;
      margin-bottom: 20px;

      .container {
        align-self: center;
        width: 100%;
      }
      img, .placeholder {
        width: 100%;
        object-fit: cover;
      }

      .placeholder {
        background-image: linear-gradient(to bottom, rgba(171,142,205,0) 0%, #ab8ecd 80%);
      }

      .title {
        height: $title-height;
        margin-left: 30px;
        font-size: 20px;
        position: relative;
        bottom: 30px;
        color: #fff;
      }
    }
  }
}
