#page-index {
  width: 100%;

  .posts {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    :hover {
      background-color: none;
    }
    a.post {
      flex-basis: 33%;
      img {
        width: 100%;
        min-height: 200px;
      }
      .title {
        height: 30px;
        margin-left: 10px;
        font-size: 20px;
        position: relative;
        bottom: 30px;
        color: #fff;
      }
    }
  }
}
