#page-index {
  width: 100%;

  .posts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    :hover {
      background-color: none;
    }
    a.post {
      flex-basis: 33%;
      img {
        width: 100%;
      }
    }
  }
}
