<div id="page-index">
  <div class="posts">
  <% @posts.each do |post| %>
    <a href="<%= post_path(post) %>" class="post">
      <div class="title"><%= post.title %></div>
      <div class="summary"> <%= post.summary %></div>
    </a>
  <% end %>
  </div>
</div>
